.task-manager {
    width: 580px;
    height: 300px;
    background-color: #f2f2f2;
    padding: 0 20px;
}

.date {
    margin: 15px 0 10px 0;
}

.task-input {
    width: 195px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    margin-right: 10px;
    margin-left: 5px;
}

.add-button {
    padding: 6px;
    border: 0;
    border-radius: 5px;
    background-color: lightgray;
}

.add-button:hover {
    background-color: #b5b5b5;
}

ul {
    max-height: 180px;
    overflow-y: auto; 
    list-style-type: none;
    margin: 10px 0;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 15px;
    background-color: #e5e5e5;
}

.task-text {
    flex-grow: 1;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.task-completed {
    margin-right: 15px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-button {
    background-color: #e70101;
    color: white;
    border: 0;
    padding: 8px;
    border-radius: 12px;
    margin-left: 20px;
}

.delete-button:hover {
    background-color: #c20202;
}