body, .app {
  margin: 0;
  padding: 0;
  background-color: rgb(179, 0, 0);
}

.container {
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}